<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul style="margin-top: 20px">
        <li style="display: inline-block"><a routerLink="/">Accueil</a></li>
        <li style="display: inline-block; margin-left: 10px;"><a href="/product">Commandes</a></li>
        <li style="display: inline-block; margin-left: 10px;"><a href="/sales">Clients</a></li>
        <li style="display: inline-block; margin-left: 10px;"><a href="/sales">Livraisons</a></li>
        <li style="display: inline-block; margin-left: 10px;"><a href="/sales">Articles</a></li>
        <li style="display: inline-block; margin-left: 10px;"><a href="/sales">Ventes</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
<ngx-spinner
  type="line-scale"
  size="medium">
</ngx-spinner>
